.col-1-2 {
    margin-bottom: 1.5em;    
}

.aboutUs {
    background-color: #FCF6D9;
}

div h2 {
    font-size: 2em;
    color: #44ACD2;
    text-align: center;
    margin-top: .5em;
}

.aboutUs p,
section h4{
    padding:  0 2em;
}

section {
    margin-bottom: 1.5em;
}

section ul {
	list-style-type: none;
    padding-left: 3.5em;
}

section li {
    margin: 1em 0;
    font-size: 1.2em;
}

/* adjust font sizes for easier clickability and readability at smaller widths */
@media (max-width: 768px) {
    article p {
        font-size: 1.5em;
    }
    
    section h4,
    section ul {
        font-size: 1.7em;
    }
    
    section ul {
        padding-left: 2em;
        padding-right: .5em;
    }
}