.row {
    border-bottom: groove #44ACD2;;
}

.header {
    border-bottom: none;
}

article img {
    margin-top: 0;
}

article h4,
article h2 {
    text-align: center;
    color: #37627C;
    margin-bottom: .5em;
}

article h2+p {
    text-align: center;
    margin-top: 0;
}

article span {
    color: #205490;
    font-weight: bold;
}

/*Laptop and Desktop Screen Sizes, use large header background image */
@media (min-width: 768px) {
    header {
        background: url(../img/MVCC/edgartown-1300.png) no-repeat;
        width: 100%;
        height: 300px;
    }
}

/* Tablet and Mobile Landscape Screen Sizes, swap background image, use medium header background image */
@media (min-width: 480px) and (max-width: 768px) {
    header {
        background: url(../img/MVCC/edgartown-710.png) no-repeat;
        width: 100%;
        height: 300px;
    }
}

/* Mobile Portrate Screen Sizes, change background image, use small header background image */
@media (max-width: 479px) {
    header {
        background: url(../img/MVCC/edgartown-445.png) no-repeat;
        width: 100%;
        height: 300px;
    }
}