article span {
    visibility: hidden;
}

/*Laptop and Desktop Screen Sizes*/
@media (min-width: 768px) {
    header {
        background: url(../img/MVCC/edgartown-1300.png) no-repeat;
        width: 100%;
        height: 300px;
    }
}

/* Tablet and Mobile Landscape Screen Sizes, swap background image */
@media (min-width: 480px) and (max-width: 768px) {
    header {
        background: url(../img/MVCC/edgartown-710.png) no-repeat;
        width: 100%;
        height: 300px;
    }
}

/* Mobile Portrate Screen Sizes, change background image */
@media (max-width: 479px) {
    header {
        background: url(../img/MVCC/edgartown-445.png) no-repeat;
        width: 100%;
        height: 300px;
    }
}