/* Border box declaration */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after */
*, 
*:before, 
*:after {
  box-sizing: inherit;
}

/* Global styles */
body {
    font-family: Tahoma, Geneva, sans-serif;
    background-color: #87CEF3;
    color: #2C2933;
}

a {
    color: #6C97F0;
    text-decoration: none;
}

a:hover,
a:active {
    color: #87CEF3;
    text-decoration: none;
}

h3 {
    margin-bottom: 0.3em;
    color: #37627C;
}

h3+p {
    font-size: 0.8em;
    margin: 0;
}

.wrapper {
    background-color: #D3D8D4;
    width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	float: none;
}

/* nav styles */
nav { 
    background-color: #6C97F0;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav ul {
    margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: auto;
}

nav ul a {
    color: #D3D8D4;
    font-weight: bold;
    font-size: 1.1em;
    padding: 1em 2em;
    float: left;
}

/* header styles */
header h1 {
    padding: 2em 0 0 1em;
    margin: 0;
}

/* main styles */
main {
	overflow: auto;
    padding: 3em;
	background-color: #FCF6D9;
}
main h2 {
	font-size: 2em;
    margin-top: auto;
}
main p {
	font-size: 1.5em;
}

main img {
	float: left;
	margin-right: 2em;
	width: auto;
	max-width: auto;
}

/* article styles */
article img {
	float: left;
    margin-top: 1em;
	width: auto;
	max-width: 100%;
}

article img+p {
    float: right;
    margin-bottom: 0;
    margin-left: auto;
}

article p+p {
    float: left;
}

/* my grid system */
.row::after {
	content:"";
	display: table;
	clear: both;
}

[class*='col-']{
	float: left;
	margin-left: 4%;
	min-height: 1px;
	position: relative;
}

.col-1-2 {
    width: 28%;
}

.col-2 {
    width: 44%;
}

.col-3 {
    width: 92%;
}

/* media queries */

/*Laptop and Desktop Screen Sizes*/
@media (min-width: 768px) {
    header {
        background: url(../img/boston-big1.png) no-repeat;
        width: 100%;
        height: 300px;
    }
    
    i {
        display: none;
    }
}

/* Tablet and Mobile Landscape Screen Sizes */
@media (min-width: 480px) and (max-width: 768px) {
    .col-1-2,
    .col-2 {
        width: 44%;
    }
    
    header {
        background: url(../img/boston-2.png) no-repeat;
        width: 100%;
        height: 300px;
    }
}

/* adjust intro font size for smaller widths */
@media (max-width: 1202px) {
    main p {
        font-size: 1.2em;
    }
}

/* adjust intro heading font size for smaller widths */
@media (max-width: 1080px) {
    main h2 {
        font-size: 1.5em;
    }
}

/* bring entire intro below the main image at a smaller width */
@media (max-width: 1015px) {    
    main div {
        float: right;
        margin: 1em auto 0 auto;
    }
}

/* adjust the "Read more..." to be easier to click at smaller widths */
@media (max-width: 768px) {
    article p+p {
        font-size: 1.2em;
    }
}

/* Mobile Portrate Screen Sizes */
@media (max-width: 479px) {
    [class*='col-'] {
        width: 92%;
    }
    main h2 {
        font-size: 1.17em
    }
    main p {
        font-size: 1em;
    }
    main p+p {
        font-size: 1.2em;
    }
    
    header {
        background: url(../img/boston-3.png) no-repeat;
        width: 100%;
        height: 300px;
    }
}